<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :name, :class => 'form-control', :placeholder => 'Service Name', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :description, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_area :description, :class => 'form-control', :placeholder => 'description', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= form.label :is_active, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :is_active %>
      </div>

      <div class="actions">
        <%= form.submit(:class => 'btn btn-primary', :style => 'background-color:#0575AF') %>
      </div>
    </div>
  </div>
<% end %>
