<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Division:</strong>
  <%= @service.division_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @service.city_id %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @service.is_active %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
