<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href="http://app.eposfx.com//epos/static/html/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://app.eposfx.com//epos/static/html/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="http://app.eposfx.com//epos/static/html/css/font-awesome.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
  <link href="http://app.eposfx.com//epos/static/html/css/adminia.css" rel="stylesheet">
  <link href="http://app.eposfx.com//epos/static/html/css/adminia-responsive.css" rel="stylesheet">
  <link href="http://app.eposfx.com//epos/static/html/css/custom.css" rel="stylesheet">
  <link href="http://app.eposfx.com//epos/static/html/css/pages/login.css" rel="stylesheet">
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">APTDC</a>
    </div>
  </div>
</div>
<div id="login-container">
  <div id="login-header">
    <h3>Please Login</h3>
  </div>
  <div id="login-content" class="clearfix">
    <%= form_tag sessions_path do |form| %>
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="username">User Name</label>
          <div class="controls">
            <%= text_field_tag :email %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <%= password_field_tag :password %>
          </div>
        </div>
      </fieldset>
      <div class="pull-right">
        <button type="submit" class="btn btn-warning btn-large">Login</button>
      </div>
    <% end %>
  </div>
</div>
<script src="http://app.eposfx.com//epos/static/html/js/jquery-1.7.2.min.js"></script>
<script src="http://app.eposfx.com//epos/static/html/js/bootstrap.js"></script>
<script type='text/javascript'>
    <!--
    (function () {
        document.forms['loginForm'].elements['j_username'].focus();
    })();
    // -->
</script>
</body>
</html>