<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <style type="text/css">
    body {
      background-color: #fff;
      color: black;
      font-family: 'Open Sans', arial, sans-serif;
      font-size: 16px;
    }

    b {
      color: #0674AF
    }

    .mail_text_wrap {
      width: 95%;
      padding: 15px;
      color: black;
      display: inline-block;
      font-family: 'Open Sans', arial, sans-serif;
      font-size: 16px;
      text-align: left;
    }

    .mail_text_wrap p {
      word-wrap: break-word;
      line-height: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .mail_text_wrap-1 {
      width: 95%;
      padding: 15px;
      color: black;
      display: inline-block;
      font-family: 'Open Sans', arial, sans-serif;
      font-size: 16px;
      text-align: center;
    }


  </style>
</head>
<body style="margin: 0px;max-width: 800px;">
<div style="padding: 0px;margin: 0px;color: black;">
  <div style="width: 100%;border:1px solid #808080;;font-family: 'Open Sans', arial, sans-serif;">
    <div width="100%" style="background-color: ghostwhite;padding: 10px">
      <img src="http://aptdc-website.s3-website-us-east-1.amazonaws.com/images/logo1.png" width="300"/>
    </div>
    <br/>
    <div class="mail_text_wrap" style="padding: 5px">
      <p>Dear <b style="text-transform: uppercase"><%= @order.first_name %> <%= @order.last_name %></b>,</p>
      <p style="font-size: 14px;">Thank you for booking tickets with us, The details which are here : </p>
      <br/>

      <table style="border:1px solid black;padding-top:20px;border-collapse:collapse;width:100%;font-size: 12px">
        <tr style="border-bottom:1px solid black;padding: 10px">
          <th align="left" style="border:1px solid #e3e3e3; padding:5px;background-color: #ededed" width="40%">Order ID

          </th>
          <td align="left" style="border:1px solid #e3e3e3;width:60%;padding:5px" align="center">APTDC
            - <%= @order.id %></td>
        </tr>
        <tr>
          <th align="left" style="border:1px solid #e3e3e3;padding:5px;background-color: #ededed" width="40%">TNR ID
          </th>
          <td align="left" style="border:1px solid #e3e3e3;width:60%;padding:5px" align="center"><%= @order.merchant_transaction_id %></td>
        </tr>
        <tr>
          <th align="left" style="border:1px solid #e3e3e3;padding:5px;background-color: #ededed" width="40%"> Total
            Amount
          </th>
          <td align="left" style="border:1px solid #e3e3e3;width:60%;padding:5px;color: red" align="center">
            Rs. <%= @order.transaction_amount %>
          </td>
        </tr>
      </table>

      <br/>

      <div><b style="color: black">Booking Information : </b></div>
      <br/>
      <table style="border:1px solid black;padding-top:20px;border-collapse:collapse;width:100%;font-size: 12px">
        <tr style="border-bottom:1px solid black;padding: 10px">
          <th align="left" style="border:1px solid #e3e3e3;padding:5px;background-color: #ededed">S.No</th>
          <th align="left" style="border:1px solid #e3e3e3;padding:5px;background-color: #ededed">Location</th>
          <th align="left" style="border:1px solid #e3e3e3;padding:5px;background-color: #ededed">Pkg</th>
          <th align="left" style="border:1px solid #e3e3e3;padding:5px;background-color: #ededed">Type</th>
          <th align="left" style="border:1px solid #e3e3e3;padding:5px;background-color: #ededed">Qty.</th>
          <th align="left" style="border:1px solid #e3e3e3;padding:5px;background-color: #ededed">Price</th>
        </tr>


        <% @orderItems.each_with_index do |item, index| %>
          <tr style="border-bottom:1px solid black;padding: 10px">
            <td align="left" style="border:1px solid #e3e3e3;padding:5px"><%= index + 1 %></td>
            <td align="left" style="border:1px solid #e3e3e3;padding:5px">
              <b><%= City.find_by_id(Package.find_by_id(item.package_id).try(:city_id)).try(:name) %></b><br/>
              <%= Division.find_by_id(Package.find_by_id(item.package_id).try(:division_id)).try(:name) %>
            </td>
            <td align="left" style="border:1px solid #e3e3e3;padding:5px"><%= Package.find_by_id(item.package_id).try(:name) %></td>
            <td align="left" style="border:1px solid #e3e3e3;padding:5px"><%= Plan.find_by_id(item.plan_id).try(:pakage_type) %></td>
            <td align="left" style="border:1px solid #e3e3e3;padding:5px"><%= item.no_of_items %></td>
            <td align="left" style="border:1px solid #e3e3e3;padding:5px">Rs. <%= item.total_amount %></td>
          </tr>
        <% end %>

        <tr>
          <td colspan="5" style="border:1px solid #e3e3e3;padding:5px;text-align: right;color:black;padding-right: 10px">
            Order Total (Inclusive of all taxes)
          </td>
          <th style="border:1px solid #e3e3e3;padding:5px;text-align: center;color:red;">
            Rs. <%= @order.transaction_amount %></b></th>
        </tr>
      </table>
      <br/>

    </div>
    <div style="padding:7px;height:13px;background-color: #676767;">
      <span style="color: white;font-size: 8px;float: left;text-align: left">Copyright © 2018 APTDC. Allrights Reserved</span>
      <span style="color: white;font-size: 8px;float: right;text-align: right"> <a href="http://aptdc.in/" target="_blank" style="color: white">  www.aptdc.in</a></span>
    </div>
  </div>
</div>
</body>
</html>


