<%= form_with(model: division, local: true) do |form| %>
  <% if division.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(division.errors.count, "error") %> prohibited this division from being saved:</h2>

      <ul>
        <% division.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label "Location Name ", :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :name, :class => 'form-control', :placeholder => 'Location Name', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label 'Description', :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_area :content, :class => 'form-control', :placeholder => 'Description', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label 'Division Name', :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:city_id, options_for_select(City.all.collect {|u| [u.name, u.id]}, @division.city_id), {:prompt => 'Select Division '}, :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= form.label :is_popular, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :is_popular %>
      </div>
      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image, class: "form-control" %>
      </div>
      <div class="actions">
        <%= form.submit( "Save Location",:class => 'btn btn-primary', :style => 'background-color:#0575AF') %>
      </div>
    </div>
  </div>
<% end %>
