<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6"><%= get_index_text('Locations') %></div>
  <div class="col-sm-6 text-right"><%= link_to 'New Location', new_division_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
</div>
<div class="table-responsive">
  <table id="zero_config" class="table table-striped table-bordered">
    <thead>
    <tr class="tr_style">
      <th>Name</th>
      <th>Content</th>
      <th>Division</th>
      <th>Popular</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @divisions.each do |division| %>
      <tr>
        <td><%= division.name %></td>
        <td><%= division.content %></td>
        <td><%= City.find_by_id(division.city_id).try(:name) %></td>
        <td><%= division.is_popular %></td>
        <td><%= image_tag(division.image.present? ? division.image : '', :width => '100px')%></td>
        <td><%= link_to 'Edit', edit_division_path(division) %></td>
        <td><%= link_to 'Destroy', division, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

