<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @division.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @division.content %>
</p>

<p>
  <strong>City:</strong>
  <%= @division.city_id %>
</p>

<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>
