<%= form_with(model: package, local: true) do |form| %>
  <% if package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(package.errors.count, "error") %> prohibited this package from being saved:</h2>

      <ul>
        <% package.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :name, :class => 'form-control', :placeholder => 'Package Name', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :description, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_area :description, :class => 'form-control', :placeholder => 'Description', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :is_active, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :is_active %>
      </div>

      <div class="form-group">
        <%= form.label :service_id, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:service_id, options_for_select(Service.all.collect {|u| [u.name, u.id]}, @package.service_id), {:prompt => 'Select service'}, :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= form.label "Division", :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:city_id, options_for_select(City.all.collect {|u| [u.name, u.id]}, @package.city_id), {:prompt => 'Select Division'}, :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= form.label "Location", :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:division_id, options_for_select(Division.all.collect {|u| [u.name, u.id]}, @package.division_id), {:prompt => 'Select Location'}, :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image, class: "form-control", :required => true %>
      </div>

      <div class="row" style="margin: 0px">
        <div class="col-sm-12"><h4>Price Details</h4></div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag('', 'Adults', :class => 'control-label field_label_style') %>
            <%= text_field_tag 'adult_price', @adult_price.present? ? @adult_price.price : 0.0, :placeholder => 'Price', :class => 'form-control', :required => true %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag('', 'Child', :class => 'control-label field_label_style') %>
            <%= text_field_tag 'child_price', @child_price.present? ? @child_price.price : 0.0, :placeholder => 'Price', :class => 'form-control', :required => true %>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= form.submit(:class => 'btn btn-primary', :style => 'background-color:#0575AF') %>
      </div>
    </div>
  </div>
<% end %>
