<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6"><%= get_index_text('Packages') %></div>
  <div class="col-sm-6 text-right"><%= link_to 'New Package', new_package_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
</div>
<div class="table-responsive">
  <table id="zero_config" class="table table-striped table-bordered">
    <thead>
    <tr class="tr_style">
      <th>Name</th>
      <th>Description</th>
      <th>Is active</th>
      <th>Service</th>
      <th>Division</th>
      <th>Location</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @packages.each do |package| %>
      <tr>
        <td><%= package.name %></td>
        <td><%= package.description %></td>
        <td><%= package.is_active %></td>
        <td><%= Service.find_by_id(package.service_id).try(:name) %></td>
        <td><%= City.find_by_id(package.city_id).try(:name) %></td>
        <td><%= Division.find_by_id(package.division_id).try(:name) %></td>
        <td><%= image_tag(package.image.present? ? package.image : '', :width => '100px')%></td>
        <td><%= link_to 'Edit', edit_package_path(package) %></td>
        <td><%= link_to 'Destroy', package, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>
