<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6"><%= get_index_text('Bookings') %></div>
  <div class="col-sm-6 text-right"></div>
</div>
<div class="table-responsive">
  <table id="zero_config" class="table table-striped table-bordered">
    <thead>
    <tr class="tr_style">
      <th>Booking Id</th>
      <th>Name</th>
      <th>Mobile Number</th>
      <th>Email</th>
      <th>Merchant transaction</th>
      <th>Transaction amount</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>APTDC-<%= order.id %></td>
        <td><%= order.first_name %> <%= order.last_name %></td>
        <td><%= order.buyer_phone_no %></td>
        <td><%= order.buyer_email_address %></td>
        <td><%= order.merchant_transaction_id %></td>
        <td><%= order.transaction_amount %></td>
        <td><%= order.address1 %> <%= order.address2 %><br/><%= order.town %>
          <%= order.town %> <%= order.state %><br/>
          <%= order.status %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
