@media (max-width:1366px){
	.tg-navigation ul li{padding:0 20px;}
	.tg-populartours .tg-btnroundprev {left: -40px;}
	.tg-populartours .tg-btnroundnext {right: -40px;}
}
@media (max-width:1280px){
	.tg-posts.tg-blogposts {margin: -70px 0 0;}
	.tg-post.tg-verticaltop {padding: 70px 30px;}
	.tg-posttitle h2 {
		font-size: 20px;
		line-height: 25px;
	}
	.tg-innerbannervtwo .tg-sectionspace {padding: 400px 0 100px;}
	.tg-loginsingup .tg-tabcontent {padding: 70px 100px 0;}
	.mega-menu > ul {width: 200px;}
}
@media (max-width:1199px){
	.tg-nav {padding: 0 200px 0 190px;}
	body.tg-login .tg-nav {padding: 0 250px 0 190px;}
	.tg-navigation ul li {padding: 0 15px;}
	.tg-headervtwo .tg-navigation > ul > li {margin: 0 15px;}
	.tg-btndropdown {padding: 0 15px;}
	.tg-socialsignin .tg-socialicons {padding: 19px 15px 19px 0;}
	.tg-socialsignin .tg-socialicons li {padding: 0 0 0 10px;}
	.tg-homeslider .item figcaption {padding: 200px 0;}
	.tg-homeslidervtwo .item figcaption {padding: 250px 0;}
	.tg-homesliderthumbnails .item figcaption{padding:70px 0;}
	.tg-homebanner .item figcaption {padding: 300px 0;}
	.tg-homebannervtwo .item figcaption {padding: 250px 0 0;}
	.tg-destinations li {padding: 0 38px 30px 0;}
	.tg-newcontent .tg-description p,
	.tg-footercolumn .tg-widgetcontent .tg-newcontent h4 a{
		width:100%;
		display:block;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	.tg-navtbs li a {padding: 0 35px;}
	.tg-post.tg-verticaltop{width:33.33%;}
	.tg-pkgplantitle h2 {
		font-size: 22px;
		line-height: 22px;
	}
	.tg-pkgplanfoot .tg-btn {padding: 0 25px;}
	.tg-pkgplanprice {
		margin: 15px 0;
		font-size:30px;
		line-height:30px;
	}
	.tg-ediprofile .tg-dashboardcontent .form-group{width:100%;}
	.tg-priceavailability .tg-pricearea {padding: 70px 0 40px;}
	.tg-populartourvtwo .tg-populartourcontent {padding: 0 200px 0 0;}
	.tg-populartourvtwo .tg-populartourtitle {padding: 0 0 18px;}
	.tg-priceavailability {
		width: 190px;
		padding: 0 30px;
	}
	.tg-availhead {padding: 0 10px;}
	.tg-availhead time {font-size: 12px;}
	.tg-populartourvtwo .tg-populartourcontent .tg-description p {margin: 0 0 10px;}
	.tg-listingvone .tg-populartourcontent .tg-durationrating {width: 51%;}
	.tg-likeshare > li {padding: 0 5px;}
	.tg-likeshare > li:first-child{padding-left:0;}
	.tg-listingvsix .tg-priceavailability .tg-pricearea {padding: 70px 0 43px;}
	.tg-widgetlatesttour .tg-widgetcontent ul li figure{
		width: 80px;
		height:auto;
	}
	.tg-widgetlatesttour .tg-widgetcontent .tg-newcontent > h4{margin:0 0 5px;}
	.tg-widgetlatesttour .tg-widgetcontent h4 a{
		width:100%;
		display:block;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.tg-widgetlatesttour .tg-widgetcontent .tg-pricearea{
		float:left;
		clear:both;
	}
	.tg-formsubscribe {padding: 0 40px 132px;}
	.tg-widgetpersonprice ul li .tg-perperson em{
		float:left;
		clear:both;
		padding:10px 0 0;
	}
	.tg-durationrating {width: 55%;}
	.tg-formbookingdetail fieldset {padding: 0 150px;}
	.tg-refundinfo .tg-description p {font-size:14px;}
	.tg-bookingdetailstyle .tg-box h3 {min-width: 140px;}
	.table-responsive tbody:first-child tr{display:none;}
	.tg-cartproductdetail .table-responsive tbody tr td:first-child,
	.tg-cartproductdetail .table-responsive tbody tr td,
	.table-responsive tbody tr td{
		width:100%;
		float:left;
		position:relative;
		padding:20px 0 20px 150px;
	}
	.table-responsive tbody tr td:before{
		left:0;
		top:0;
		width:50%;
		content:attr(data-title);
		position:absolute;
		font-size:15px;
		line-height:15px;
		font-weight:bold;
		color:#000;
		text-transform:capitalize;
		text-align:left;
		padding:20px 0;
	}
}
@media (max-width:1080px){
	.tg-headervtwo .tg-navigationarea {padding: 0 250px 0 180px;}
	.tg-headervtwo .tg-navigation > ul > li {margin: 0 10px;}
	.tg-headervtwo .tg-infonav ul li + li{padding:0 0 0 20px;}
	.tg-slidercontent h1 {
		font-size: 55px;
		line-height: 45px;
	}
	.tg-sharesocialicon li a i {margin: 0 10px 0 0;}
	.tg-comingsooncontent {padding: 200px 0 0;}
	.tg-loginsingup .tg-tabcontent {padding: 70px 50px 0;}
	.tg-contentarea .close {
		right:0;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	.tg-loginnav li {padding: 0 6px;}
}
@media (max-width:991px){
	.navbar-header{
		float: right;
		border-radius: 5px;
		margin: 13px 20px 13px 0;
	}
	.navbar-toggle {
		margin:0;
		border: 0;
		padding: 10px;
		display: block;
		border-radius: 0;
	}
	.navbar-toggle .icon-bar{background: #000;}
	.navbar-collapse.collapse {display: none!important;}
	.collapse.in{display:block !important;}
	.tg-navigation {
		left: 0;
		top: 100%;
		width: 100%;
		z-index: 99;
		background: #fff;
		position: absolute;
	}
	.tg-headervtwo .navbar-header{margin:0;}
	.tg-homeslider .item figcaption {padding: 150px 0;}
	.tg-homesliderthumbnails .item figcaption {padding: 70px 0;}
	.tg-homebanner .item figcaption {padding: 250px 0;}
	.tg-homebannervtwo .item figcaption {padding: 180px 0 0;}
	.tg-slidercontent h2 {
		font-size: 35px;
		line-height: 30px;
	}
	.tg-findtour .tg-formtrip fieldset{margin:-5px;}
	.tg-formtrip fieldset{
		padding:0;
		width:auto;
		float:none;
		clear:both;
		margin:-5px -5px 0 -5px;
		overflow:hidden;
	}
	.tg-formtrip .form-group,
	.tg-formtrip .form-group:nth-child(3),
	.tg-formtrip .form-group:nth-child(4){
		width:50%;
		padding:5px;
	}
	.tg-formtrip .form-group:last-child{
		width:100%;
		text-align:center;
	}
	.tg-formtrip .form-group:first-child{padding-left:5px;}
	.tg-formtrip .tg-btn{position:relative;}
	.tg-tourdestinationbigbox .tg-adventuretitle h2 {
		font-size: 35px;
		line-height: 30px;
	}
	.tg-ourdestination figure{margin:0 0 50px;}
	.tg-adventuretitle h2 {
		font-size:25px;
		line-height:24px;
	}
	.tg-post{padding:15px 0;}
	.tg-fourcolumns{padding:90px 0;}
	.tg-footercolumn{
		padding:30px 0;
		min-height:260px;
	}
	.tg-tabcontent {padding: 50px 50px 0;}
	.tg-featuretitle h2 {
		font-size: 18px;
		line-height: 15px;
	}
	.tg-pkgplans{margin:-15px 0;}
	.tg-pkgplan{margin:15px 0;}
	.tg-textbox .tg-sectiontitle h2 {
		font-size: 25px;
		line-height: 25px;
	}
	.tg-contactinfo li h2 {
		font-size: 16px;
		line-height: 17px;
	}
	.tg-yourorder .tg-perperson em{
		float:left;
		padding:10px 0 0;
	}
	.tg-dashboardcontent .tg-content{
		width:100%;
		float:left;
	}
	.tg-dashboard .tg-profile figure{margin:0 0 30px;}
	.tg-imgholder{padding:0 0 30px;}
	.tg-fulltourdetail .tg-box h3{padding:10px 0 30px;}
	.tg-populartourvtwo .tg-populartourcontent{
		width:100%;
		float:left;
	}
	.tg-populartourvtwo figure{
		width:100%;
		margin:0 0 35px;
	}
	.tg-priceavailability .tg-pricearea {padding: 70px 0 40px;}
	.tg-priceavailability .tg-btn {
		height: 40px;
		line-height: 40px;
	}
	.tg-priceavailability .tg-btn:after{bottom:10px;}
	.tg-priceavailability .tg-btn:hover:after{bottom:0;}
	.tg-comingsooncontent h2 {margin: 0 0 70px;}
	.tg-counterholder span {
		font-size: 55px;
		line-height: 40px;
	}
	.tg-counterholder span:last-child {
		font-size: 25px;
		line-height: 25px;
	}
	.tg-formsubscribe {padding: 0 40px 80px;}
	.tg-cart{margin:0 0 30px;}
	.tg-head .tg-select{float:left;}
	.tg-bookinginfo h2 {
		font-size: 25px;
		line-height: 25px;
	}
	.tg-formbookingdetail fieldset {padding: 0 60px;}
	.tg-tripinfo li {padding: 0 10px;}
	.tg-refundshare .tg-likeshare{
		float:left;
		padding:20px 0 0;
	}
	.tg-tourpaymentdetail{padding:0 0 30px;}
	.tg-loginsingup .tg-navtbs li a {padding: 0 20px;}
	.tg-contentarea{
		width:100%;
		background:
			-moz-linear-gradient(top,
			rgba(255,255,255,0.9) 0%,
			rgba(255,255,255,0.9) 100%);
		background:
			-webkit-linear-gradient(top,
			rgba(255,255,255,0.9) 0%,
			rgba(255,255,255,0.9) 100%);
		background:
			linear-gradient(to bottom,
			rgba(255,255,255,0.9) 0%,
			rgba(255,255,255,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 );
	}
}
@media (max-width:800px){
	.tg-findtourvfive{margin:-65px 0 0;}
	.tg-post.tg-verticaltop {width: 50%;}
}
@media (max-width:767px){
	.tg-destinationsslider{padding:0 15px;}
	.tg-slidercontent h1 {
		font-size: 35px;
		line-height: 35px;
	}
	.tg-slidercontent h2 {
		margin:0 0 40px;
		font-size: 25px;
		line-height: 25px;
	}
	.tg-calltoaction h2 {
		font-size: 25px;
		line-height: 22px;
	}
	.tg-themetabnav{display:block;}
	.tg-themetabnav li{
		float:left;
		width:33.33%;
		display:block;
		padding:10px;
	}
	.tg-homeslidervtwo .tg-slidercontent h1 {line-height: 40px;}
	.tg-homeslidervtwo .item figcaption {padding: 250px 0 170px;}
	.tg-homebanner .tg-slidercontent h1 {
		font-size: 35px;
		line-height: 30px;
	}
	.tg-homebanner .tg-slidercontent h2 {
		font-size: 26px;
		line-height: 26px;
	}
	.tg-innerbannervtwo .tg-sectionspace {padding: 300px 0 100px;}
	.tg-aboutus figure,
	.tg-aboutus .tg-textbox{min-height:355px;}
	.tg-productinfo{padding:30px 0 0;}
	.tg-box.tg-profile{margin:30px 0 0;}
	.tg-dashboardcontent .form-group{width:100%;}
	.tg-404errorcontent h1 {
		font-size: 100px;
		line-height: 75px;
	}
	.tg-404errorcontent h2 {
		font-size: 30px;
		line-height: 30px;
	}
	.tg-footercolumn {min-height: 290px;}
	.tg-listingvsix .tg-priceavailability .tg-pricearea {padding: 63px 0 47px;}
	.tg-bookinginfo h2 {
		font-size: 20px;
		line-height: 20px;
	}
	.tg-comingsooncontent {padding: 150px 0 0;}
	.tg-formbookingdetail .form-group{
		width:100%;
		padding:10px 0;
	}
	.tg-formbookingdetail .form-group:last-child{
		width:50%;
		float:right;
	}
	.tg-bookingtabs .tg-themetabnav li{width:20%;}
	.tg-bookingdetailstyle .tg-box h3{
		width:100%;
		margin:0 0 15px;
	}
	.tg-bookingdetailstyle .tg-content{
		width:100%;
		float:left;
	}
	.tg-bookingdetailstyle .tg-box {margin: 0;}
	.tg-reviewformarea .form-group{width:100%;}
	.table-responsive{border:0;}
	.tg-listingvsix{padding:0 0 50px;}
}
@media (max-width:720px){
	.tg-header .tg-infonav,
	.tg-header .tg-infonav{display:none;}
	.tg-homevtwo .tg-header .tg-infonav,homevfive
	.tg-homevfour .tg-header .tg-infonav,
	.tg-homevfive .tg-header .tg-infonav{display:block;}
	.tg-addnavcartsearch{width:100%;}
	.tg-addnavcartsearch .tg-cartsearch{float:right;}
	.tg-bgdark .tg-sectiontitle h2{
		font-size: 25px;
		line-height: 20px;
	}
	.tg-themetabsvtwo .tg-themetabnav li{
		width:auto;
		margin:0 10px;
	}
	.tg-themetabsvtwo .tg-themetabnav li a strong {
		font-size:14px;
		line-height:14px;
	}
	.tg-priceavailability .tg-pricearea {padding: 67px 0 40px;}
	.tg-tripinfo{padding:20px 15px;}
	.tg-tripinfo li {
		width: 50%;
		float: left;
		text-align:left;
	}
	.tg-tourbookingdetail > .tg-description{padding:0 30px;}
}
@media (max-width:640px){
	.tg-headervtwo .tg-navigationarea{
		position:static;
		padding:20px 0 0;
	}
	.tg-headervtwo .tg-nav{float:right;}
	.tg-headervtwo .tg-socialicons{
		float:left;
		padding:7px 0;
	}
	.tg-tourdestination,
	.tg-tourdestination + .tg-tourdestination{width:100%;}
	.tg-partners li {
		width: 33.33%;
		padding: 20px 15px;
	}
	.tg-parallax .tg-sectiontitle h2{
		font-size:22px;
		line-height:22px;
	}
	.tg-themetabsvtwo .tg-themetabnav li {
		margin: 0;
		width: 50%;
	}
	.tg-homebannervtwo .tg-slidercontent h1 {
		font-size: 25px;
		line-height: 25px;
	}
	.tg-homebannervtwo .tg-slidercontent h2 {
		font-size: 26px;
		line-height: 26px;
	}
	.tg-innerbanner .tg-sectionspace {padding: 150px 0 70px;}
	.tg-innerbanner h2 {margin: 15px 0 50px;}
	.tg-innerbanner h1 {
		font-size: 32px;
		line-height: 32px;
	}
	.tg-innerbanner h2{
		font-size:25px;
		line-height:25px;
	}
	.tg-404error .tg-btn {
		height: 40px;
		padding: 0 30px;
		line-height:40px;
	}
	.tg-404error .tg-btn:after{bottom:10px;}
	.tg-404error .tg-btn:hover:after{bottom:0;}
	.tg-topdestinations > div > [class^="col-"],
	.tg-topdestinations > div > [class*="col-"]{width:100%;}
	.tg-postmaradata li{padding:0 8px;}
	blockquote {padding: 30px;}
	.tg-faqs .tg-item{width:100%;}
	.tg-contactinfo li{
		width:100%;
		padding:4% 0;
	}
	.tg-contactinfo li:first-child{padding-top:0;}
	.tg-contactinfo li:last-child{padding-bottom:0;}
	.tg-contactinfo li + li{
		border-left:0;
		border-top: 1px solid #e8e8e8;
	}
	.tg-bookingdetail{
		padding:0;
		width:100%;
	}
	.tg-formbillingdetail .tg-bookingdetail{border:0;}
	.tg-formbillingdetail .tg-bookingdetail + .tg-bookingdetail{
		border:0;
		padding:30px 0 0;
	}
	.tg-priceavailability .tg-pricearea {padding: 64px 0 40px;}
	.tg-listingvsix .tg-priceavailability .tg-pricearea {padding: 63px 0 44px;}
	.tg-formbookingdetail fieldset{padding:0 30px;}
	.tg-bookingtabs .tab-pane:before{display:none;}
	.tg-bookingdetail + .tg-bookingdetail{padding:50px 0 0;}
	.tg-gallery ul li{width:50%;}
}
@media (max-width:568px){
	.tg-logo{
		/* display: none; */
		width:90%;
		float:none;
		display:block;
		padding:30px 0 10px;
		margin:0 auto 15px !important;
	}
	.tg-nav{
		padding: 0;
		float: left;
		width: auto;
		position: static;
	}
	body.tg-login .tg-nav{padding:0;}
	.tg-navigationarea{padding:0;}
	.navbar-header {margin: 13px 15px;}
	.tg-socialsignin .tg-socialicons {padding: 19px 10px 19px 0;}
	.tg-btndropdown {padding: 0 6px;}
	.tg-homeslider .item figcaption {padding: 100px 0;}
	.tg-homeslidervtwo .item figcaption {padding: 250px 0 170px;}
	.tg-homesliderthumbnails .item figcaption {padding: 70px 0;}
	.tg-homebanner .item figcaption {padding: 200px 0;}
	.tg-homebannervtwo .item figcaption {padding: 180px 0 0;}
	.tg-homesliderfull .tg-slidercontent h1 {
		font-size: 35px;
		line-height: 25px;
	}
	.tg-homesliderfull .tg-slidercontent h2 {
		font-size: 22px;
		line-height: 16px;
	}
	.tg-homebanner .tg-slidercontent h1 {
		font-size: 25px;
		line-height: 25px;
	}
	.tg-formtrip .form-group,
	.tg-formtrip .form-group:nth-child(3),
	.tg-formtrip .form-group:nth-child(4){width:100%;}
	.tg-bannerholder{height:800px;}
	.tg-bannerholder .tg-homeslider .item,
	.tg-bannerholder .tg-slidercontent{padding:200px 0 0 0;}
	.tg-bannerholder .tg-slidercontent h1 {
		font-size: 22px;
		line-height: 22px;
		margin:0 0 10px;
	}
	.tg-bannerholder .tg-slidercontent h2 {
		margin: 0 0 20px;
		font-size: 18px;
		line-height: 18px;
	}
	.tg-formtrip .tg-btn{
		padding:0;
		width:100%;
	}
	.tg-latestproducts .row > [class^="col-"],
	.tg-latestproducts .row [class*="col-"],
	.tg-listingvfour > [class^="col-"],
	.tg-listingvfour > [class*="col-"],
	.tg-listing .row > [class^="col-"],
	.tg-listing .row [class*="col-"],
	.tg-posts > [class^="col-"],
	.tg-posts [class*="col-"],
	.tg-trendingtrips > [class^="col-"],
	.tg-trendingtrips [class*="col-"],
	.tg-fourcolumns > div > div > [class^="col-"],
	.tg-fourcolumns > div > div > [class*="col-"]{width:100%;}
	.tg-footercolumn {min-height: auto;}
	.tg-themetabnav li {
		width: 50%;
		min-width: 200px;
	}
	.tg-post.tg-verticaltop{width:100%;}
	.tg-commenthead .tg-author time {
		clear: both;
		margin: 8px 0 0;
	}
	.tg-innerbannervtwo.tg-innerbanner h1 {
		font-size: 25px;
		line-height: 30px;
	}
	.tg-panel h4 {
		font-size: 14px;
		line-height: 17px;
		padding:0 40px 0 0;
	}
	.tg-headervtwo .tg-infonav{width:100%;}
	.tg-headervtwo .tg-infonav ul li:nth-child(1),
	.tg-headervtwo .tg-infonav ul li:nth-child(2) {float: left;}
	.tg-headervtwo .tg-infonav ul li:nth-child(3),
	.tg-headervtwo .tg-infonav ul li:nth-child(4) {float: right;}
	.tg-populartourvtwo .tg-populartourcontent{padding:0;}
	.tg-listingvthree .tg-sectiontitle{padding:0 0 30px;}
	.tg-populartourvtwo .tg-populartourfoot{padding:20px 0 0;}
	.tg-priceavailability{
		width:100%;
		float:left;
		margin:30px 0 0;
		position:relative;
	}
	.tg-priceavailability .tg-pricearea {padding:80px 0 50px;}
	.tg-priceavailability .tg-btn {
		height: 60px;
		line-height: 60px;
	}
	.tg-priceavailability .tg-btn:after{bottom:20px;}
	.tg-priceavailability .tg-btn:hover:after{bottom:0;}
	.tg-listing .tg-trendingtrip{padding:40px 0 0;}
	.tg-counterholder {
		width:50%;
		padding: 20px;
	}
	.tg-formsubscribe{padding: 0 0 80px;}
	.tg-formsubscribe .form-group{padding:0;}
	.tg-formsubscribe .form-group .form-control{margin:0 0 30px;}
	.tg-formsubscribe .form-group .tg-btn{position:relative;}
	.tg-formbookingdetail .form-group:last-child{width:100%;}
	.tg-bookingtabs .tg-themetabnav li{width:100%;}
	.tg-itinerary .tg-bookingdetail + .tg-bookingdetail{padding:0;}
	.tg-review .tg-author{margin:0 0 30px;}
	.tg-reviewcontent{
		width:100%;
		float:left;
	}
	.tg-filterby .tg-durationrating{width:100%;}
	.tg-filterby .tg-select{float:left;}
	.tg-filterby .tg-select select {padding: 10px 90px 10px 20px;}
	.tg-tourname .tg-populartourtitle h3{
		font-size:14px;
		line-height:17px;
	}
	.tg-signupwith .tg-sharesocialicon li a {padding: 0 15px;}
}
@media (max-width:480px){
	.tg-shopgrid > div[class^="col-"],
	.tg-shopgrid > div [class*="col-"]{width:100%;}
	.tg-headervtwo .tg-infonav ul{text-align:center;}
	.tg-headervtwo .tg-infonav ul li{
		float:none;
		display:inline-block;
		vertical-align:middle;
	}
	.tg-headervtwo .tg-socialicons li:first-child{padding:0;}
	.tg-homeslidervtwo .tg-slidercontent h2 {
		font-size: 28px;
		line-height: 30px;
	}
	.tg-themetabnav li {min-width: 140px;}
	.tg-themetabsvtwo .tg-themetabnav li{width:100%;}
	.tg-homebannervtwo .tg-slidercontent h1 {
		font-size: 20px;
		line-height: 20px;
	}
	.tg-homebannervtwo .tg-slidercontent h2 {
		font-size: 22px;
		line-height: 22px;
	}
	.tg-homebannervtwo .item figcaption {padding: 240px 0 0;}
	.tg-partners li{width:100%;}
	.tg-calltoaction h2 {
		font-size: 17px;
		line-height: 25px;
	}
	.tg-destinations li{
		width:100%;
		padding:10px 0;
	}
	.tg-sectiontitle h2 {
		font-size: 20px;
		line-height: 18px;
	}
	.tg-prevpost a h2,
	.tg-nextpost a h2 {
		font-size: 15px;
		line-height: 15px;
	}
	.tg-comment .tg-content{
		width:100%;
		float:left;
		padding:30px 0 0;
	}
	.tg-textbox .tg-sectiontitle h2 {
		font-size: 20px;
		line-height: 20px;
	}
	.tg-paymentarea .tg-accordion .tg-panel h4{
		padding:0;
		font-size: 12px;
	}
	.tg-formtheme .tg-paymentarea{padding:20px;}
	.tg-fulltourdetail{padding:20px;}
	.tg-dashboardcontent .tg-liststyle li{width:100%;}
	.tg-widgetpersonprice ul li em{
		float:left;
		clear:both;
		padding:10px 0 0;
	}
	.tg-formquantity .form-group:first-child{width:20%;}
	.tg-formquantity .form-group:nth-child(2) {max-width: 150px;}
	.tg-listingvthree .tg-durationrating{
		width:100%;
		padding:0 0 15px;
	}
	.tg-tourname{display:block;}
	.tg-tourname .tg-populartourcontent {padding: 0 60px 0 0;}
	.tg-tourname .tg-populartourtitle h3 {font-size: 13px; text-align:center;}
	.table-responsive .tg-tourname .tg-populartourcontent{
		width:100%;
		float:left;
		padding:10px 0 0;
	}
	.tg-populartourtitle{
		text-align:center;		
	}	
	.tg-cartproductdetail .table-responsive tbody tr td:first-child,
	.tg-cartproductdetail.table-responsive tbody tr td,
	.table-responsive tbody tr td {padding: 20px 0 20px 100px;}
	.table-responsive .tg-tourname .tg-populartourcontent h3{min-width:0;}
	.tg-tourname .tg-populartourfoot .tg-durationrating{padding:0;}
	.tg-likeshare{float:left;}
	.tg-tripinfo li{
		width:100%;
		padding:10px;
	}
	.tg-refundinfo{
		width:100%;
		float:left;
		padding:15px 0 0;
	}
	.tg-refundshare .tg-likeshare > li{
		width:100%;
		padding:5px 0; 
		text-align:left;
	}
	.tg-gallery ul li{width:100%;}
	.tg-signupwith .tg-sharesocialicon li{
		width:100%;
		padding:5px;
	}
	.tg-loginsingup .tg-tabcontent {padding: 70px 0 0;}
	.tg-loginnav li {
		width: 50%;
		float: left;
		padding: 6px;
	}
	.tg-contentarea .close{top:65px;}
	.tg-loginsingup .tg-navtbs {line-height: 30px;}
	.table-responsive tbody tr td {padding: 20px 0 20px 100px;}
	.tg-cartproductdetail table tr th:first-child,
	.tg-cartproductdetail table tr td:first-child{width:100%;}
}
@media (max-width:479px){
	.tg-pricearea h4 {
		font-size: 18px;
		line-height: 18px;
	}
	.tg-parallax .tg-feature {padding: 30px 0;}
	blockquote {
		font-size: 15px;
		line-height: 22px;
		padding: 30px 20px;
	}
}
@media (max-width:320px){}