<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>
      <ul>
        <% city.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :name, :class => 'form-control', :placeholder => 'Division Name', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :description, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_area :description, :class => 'form-control', :placeholder => 'Description', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :estimated_visit_days, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.number_field :estimated_visit_days, :class => 'form-control', :placeholder => 'estimated_visit_days', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= form.label :is_popular, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :is_popular %>
      </div>

      <!--    <div class="form-group">-->
      <%#= form.label :images %>
      <%#= form.file_field :images, multiple: true ,:class =>"form-control" %>
      <!--    </div>-->

      <div class="actions">
        <%= form.submit('New Division',:class => 'btn btn-primary', :style => 'background-color:#0575AF') %>
      </div>
    </div>
  </div>
<% end %>
