<div class="top1">
  <div class="top-left1 search-box">
    <input type="text" id="searchy" placeholder="Search Elements" style="height:30px;"/>
  </div>
  <div class="top-right1">
    <% @services.each_with_index do |service, index| %>
      <a class='tag1 <%= session[ApplicationHelper::SessionConstants::SESSION_SERVICES].present? && session[ApplicationHelper::SessionConstants::SESSION_SERVICES].to_i.eql?(service.id) ? "tag-active1" : "" %>' style="text-transform: uppercase" onclick="select_services('<%= service.id %>')"><%= service.name %></a>
    <% end %>
    <a class='tag1 <%= session[ApplicationHelper::SessionConstants::SESSION_SERVICES].present? && session[ApplicationHelper::SessionConstants::SESSION_SERVICES].to_i.eql?(0) ? "tag-active1" : "" %>' style="text-transform: uppercase" onclick="select_services(0)">All</a>
  </div>
</div>
<div class="list-body1">
  <% @cities.each_with_index do |city, index| %>
    <div class="col-md-3 explore">
      <div class="list-el1 taga-2 taga-3">
        <div class="owl-item active" style="width: 100%; margin-right: 30px;">
          <div class="item tg-populartour">
            <figure>
              <a href="/cities/service_based_city_pakages1?city_id=<%= city.id %>&&service_id=<%= session[ApplicationHelper::SessionConstants::SESSION_SERVICES].present? ? session[ApplicationHelper::SessionConstants::SESSION_SERVICES] : 0 %>">
                <%= image_tag(city.image, :width => '100%') %>
              </a>
            </figure>
            <div class="tg-populartourcontent">
              <div class="tg-populartourtitle">
                <h3 class="movieTitle" style="font-family: Roboto">
                  <a href="/cities/service_based_city_pakages1?city_id=<%= city.id %>&&service_id=<%= session[ApplicationHelper::SessionConstants::SESSION_SERVICES].present? ? session[ApplicationHelper::SessionConstants::SESSION_SERVICES] : 0 %>"><%= city.name %></a>
                </h3>
              </div>
              <div class="tg-description">
                <p class="OverFlow"><%= city.description %></p>
              </div>
              <div class="tg-populartourfoot">
                <div class="tg-durationrating">
                  <span class="tg-tourduration"><%= city.estimated_visit_days %> Days</span>
                </div>
                <div class="tg-pricearea">
                  <a href="/cities/service_based_city_pakages1?city_id=<%= city.id %>&&service_id=<%= session[ApplicationHelper::SessionConstants::SESSION_SERVICES].present? ? session[ApplicationHelper::SessionConstants::SESSION_SERVICES] : 0 %>" style="cursor: pointer;color: #ff7550;font-weight: 600;font-family: Roboto">Explore</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
    function select_services(value) {
        if (value != null || value != '') {
            $.ajax('/cities/add_services_to_session?service=' + value)
        }
    }
</script>







