<style>
  .page_content {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto';
    color: black;
    padding: 5px;
  }

  .package_name {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    padding: 5px !important;
  }
</style>

<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/images/about_banner.jpg">
  <div class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>About us</h1>

        </div>
      </div>
    </div>
  </div>
</section>
<main id="tg-main" class="tg-main tg-haslayout">
  <br/><br/>
</main>



