<style>
  .page_content {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto';
    color: black;
    padding: 5px;
  }

  .package_name {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    padding: 5px !important;
  }
</style>

<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="<%= url_for(@package.image) %>">
  <div class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1><%= @package.name %></h1>

        </div>
      </div>
    </div>
  </div>
</section>
<main id="tg-main" class="tg-main tg-haslayout">
  <div class="tg-sectionspace tg-haslayout">
    <div class="container">
      <%= form_for(@order, :url => '/cities/place_order') do |f| %>
        <div class="row" style="margin: 0px">
          <div class="col-sm-6" style="padding: 5px;border-right: 2px solid #e6e6e6">
            <div style="padding-right:30px !important;">
              <div class="page_content"> Billing Details</div>
              <div style="padding: 5px;border-bottom: 1px solid #e6e6e6"></div>
              <br/>
              <div class="package_name"><%= @package.name %></div>
              <br/>
              <div class="clearfix"></div>
              <div class="row">
                <% plans = Plan.where("package_id =?", @package.id) %>
                <% plans.each do |plan| %>
                  <div class=" col-sm-6">
                    <div class="tg-pricearea" style="float:left;">
                      <span style="float:left;"><%= plan.pakage_type %></span><br>
                      <h4 style="float:left; font-size:14px;"> <%= plan.price %><sub>/ per person</sub></h4>
                    </div>
                    </br></br>
                  </div>
                <% end %>
              </div>
              <hr>

              <div class="row">

                <div class="col-sm-6">

                  <% if @order.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this payment from being
                        processed:</h2>

                      <ul>
                        <% @order.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <%= hidden_field_tag 'package_id', @package.id %>

                  <div class="form-group">
                    <div class="tg-formicon"><i class="icon-user-check"></i></div>
                    <br/>
                    <%= select_tag 'adults_no', options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]), :prompt => "Adults", :onchange => "myFunction(this.value,'Adults',#{@package.id})", :class => "form-control" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="tg-formicon"><i class="icon-user"></i></div>
                    <br/>
                    <%= select_tag 'child_no', options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]), :prompt => "Child", :onchange => "myFunction(this.value,'Child',#{@package.id})", :class => "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= label_tag('', 'First Name', :class => 'control-label field_label_style') %>

                    <%= f.text_field :first_name, :placeholder => 'First Name', :class => "form-control", :required => true %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= label_tag('', 'Last Name', :class => 'control-label field_label_style') %>
                    <%= f.text_field :last_name, :placeholder => 'Last Name', :class => "form-control", :required => true %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= label_tag('', 'Email', :class => 'control-label field_label_style') %>
                <%= f.text_field :buyer_email_address, :class => "form-control", :required => true, :pattern => ".+@gmail.com" %>
              </div>
              <div class="form-group">
                <%= label_tag('', 'Phone Number', :class => 'control-label field_label_style') %>
                <%= f.text_field :buyer_phone_no, :placeholder => 'PhoneNumber', :pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :onkeypress => 'return event.charCode >= 48 && event.charCode <= 57', :maxlength => "10", :class => "form-control", :required => true %>
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="padding: 5px;">
            <div style="padding-left:30px !important;">
              <br/>
              <div id="cart_content"><%= render :partial => 'selected_cart_items' %></div>
            </div>
          </div>
        </div>
        <br/>
        <div class="text-right"><%= f.submit "CHECKOUT", :class => 'btn btn-primary' %></div>
      <% end %>
    </div>
  </div>
</main>


<script>
    function myFunction(no_of_items, package_type, package_id) {
        var no_of_items = no_of_items == "" ? 0 : no_of_items;
        var package_type = package_type;
        var package_id = package_id;
        if ((no_of_items != null || no_of_items != '') && package_type != null && package_id != null) {
            $.ajax('/cities/change_cart_items?no_of_items=' + no_of_items + '&&package_type=' + package_type + '&&package_id=' + package_id)
        }
    }
</script>
