<style>
  .page_content {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto';
    color: black;
    padding: 5px;
  }

  .package_name {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    padding: 5px !important;
  }

  .OverFlow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: Roboto;
    color: #0b0b0b;
  }

    .service_buttion{
      display: inline-block;
     font-size: 13px;
      line-height: 6px;
      font-weight: 400;
      color: #363636 !important;;
      padding: 10px;
      border: 1px solid #363636 !important;;
      border-radius: 2px;
      margin-left: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      text-decoration: none;
    }

  .service_active{
    display: inline-block;
    font-size: 13px;
    line-height: 6px;
    font-weight: 400;
    color: white !important;;
    padding: 10px;
    border: 1px solid #f73f3f !important;
    background-color: #f73f3f !important;
    border-radius: 2px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
  }



</style>
<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/images/destination.jpg">
  <div class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Destinations</h1>

        </div>
      </div>
    </div>
  </div>
</section>
<main id="tg-main" class="tg-main tg-haslayout">
  <br/>
  <div class="container">
    <div id="main1" class="col-md-12">
      <div class="list1">


        <div id="homePage_city_content"><%= render :partial => 'service_based_cities' %></div>
      </div>
    </div>
  </div>
  <br/>
</main>


