<style>
  .OverFlow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: Roboto;
    color: #0b0b0b;
  }
</style>
<main id="tg-main" class="tg-main tg-haslayout">
  <div id="makeMeScrollable">
    <a href="/public2/images/smoothscroll/demo/pic1.png"><img src="/public2/images/smoothscroll/demo/pic1.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic2.png"><img src="/public2/images/smoothscroll/demo/pic2.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic3.png"><img src="/public2/images/smoothscroll/demo/pic3.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic4.png"><img src="/public2/images/smoothscroll/demo/pic4.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic5.png"><img src="/public2/images/smoothscroll/demo/pic5.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic6.png"><img src="/public2/images/smoothscroll/demo/pic6.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic7.png"><img src="/public2/images/smoothscroll/demo/pic7.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic8.png"><img src="/public2/images/smoothscroll/demo/pic8.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic9.png"><img src="/public2/images/smoothscroll/demo/pic9.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic10.png"><img src="/public2/images/smoothscroll/demo/pic10.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic11.png"><img src="/public2/images/smoothscroll/demo/pic11.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic12.png"><img src="/public2/images/smoothscroll/demo/pic12.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic13.png"><img src="/public2/images/smoothscroll/demo/pic13.png" id="field"/></a>
    <a href="/public2/images/smoothscroll/demo/pic14.png"><img src="/public2/images/smoothscroll/demo/pic14.png" id="field"/></a>
  </div>

  <section class="tg-parallax" data-appear-top-offset="600" data-parallax="scroll">
    <div class="tg-sectionspace tg-haslayout" style="background: #f2f2f2;">
      <div class="container">
        <div class="row">
          <div class="tg-sectionhead tg-sectionheadvtwo">
            <div class="tg-sectiontitle">
              <img src="/public2/images/headding1.png" style="width:40%;">
            </div>
          </div>
          <div id="main1" class="col-md-12">
            <div class="list1">


              <div id="homePage_city_content"><%= render :partial => 'service_based_cities' %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tg-sectionspace tg-zerotoppadding tg-haslayout" style="margin-top:15px;">
    <div class="container">

      <div class="tg-sectionhead tg-sectionheadvtwo">
        <div class="tg-sectiontitle">
          <img src="/public2/images/headding2.png" style="width:40%;">
        </div>
      </div>
      <div class="row">
        <div id="tg-destinationsslider" class="tg-destinationsslider tg-destinations owl-carousel">
          <% @locations.each_with_index do |location, index| %>
            <div class="item tg-destination">
              <figure>
                <a href="/cities/location_based_packages?location_id=<%= location.id %>"><%= image_tag(location.image) %></a>
                <figcaption>
                  <h2><a href="/cities/location_based_packages?location_id=<%= location.id %>"><%= location.name %></a>
                  </h2>
                </figcaption>
              </figure>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>
<br/>
<br/>
<br/>


