<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6"><%= get_index_text('Divisions') %></div>
  <div class="col-sm-6 text-right"><%= link_to 'New Division', new_city_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
</div>
<div class="table-responsive">
  <table id="zero_config" class="table table-striped table-bordered">
    <thead>
    <tr class="tr_style">
      <th>Name</th>
      <th>Description</th>
      <th>Estimate Visit Days</th>
      <th>popular</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.description %></td>
        <th><%= city.estimated_visit_days %></th>
        <td><%= city.is_popular %></td>
        <td><%= image_tag(city.image.present? ? city.image : '', :width => '100px')%></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

