<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6"><%= get_index_text('New Division') %></div>
      <div class="col-sm-6 text-right"><%= link_to 'Back', cities_url, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
    </div>
    <%= render 'form', city: @city %>
  </div>
</div>

