<style>
  .wrapper {
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
  }

  .information_head {
    text-transform: capitalize;
    font-size: 18px;
    font-family: Montserrat;
    padding: 5px 10px;
    color: dimgray;
    font-weight: bolder;
  }

  .des_text {
    font-size: 16px;
    padding: 5px 10px;
    color: #000000;
    font-family: "Microsoft Sans Serif";
  }

  .divisionName {
    font-size: 14px;
    color: white;
    padding: 10px;
    text-transform: capitalize;
    font-family: 'Arial Black'
  }

  .package_name {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #000 !important;
    line-height: 1.1;
    text-transform: capitalize;
    font-family: Montserrat;
    text-decoration: none;
  }
</style>
<style>
  .tab {
    float: left;
    background-color: #f1f1f1;
    width: 15%;
    height: auto;
  }

  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    font-weight: 600;
  }

  .tab button:hover {
    background-color: orangered;
    color: white;
    font-weight: bold;
  }

  .tab button.active {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
  }

  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 5px;
    width: 85%;
    border-left: none;
    min-height: 400px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
</style>
<section class="tg-parallax tg-innerbanner" data-appear-top-offset="900" data-parallax="scroll" data-image-src="<%= url_for(@service.image) %>">
  <div class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br/>
          <h1><%= @service.name %></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<main id="tg-main" class="tg-main tg-sectionspace tg-haslayout tg-bglight">
  <div class="container">
    <div class="row" style="margin: 0px">
      <div class="information_head">Description :-</div>
      <div class="des_text"> <%= @service.description %></div>
    </div>
    <br/>
    <div class="tab">
      <% @cities.each do |city| %>
        <button class="tablinks" onclick="openCity(event, '<%= city.name %>-<%= city.id %>')" id="defaultOpen"><%= city.name %></button>
      <% end %>
    </div>
    <% @cities.each do |city| %>
      <div id="<%= city.name %>-<%= city.id %>" class="tabcontent">

        <% @divsions = Division.where("city_id =?", city.id) if city.present? %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div id="tg-content" class="tg-content">
              <div class="tg-listing tg-listingvthree">
                <% @divsions.each do |division| %>
                  <% packages = Package.where("division_id =? and service_id =?", division.id, @service.id) %>
                  <% if packages.present? %>
                    <div style="border: 1px solid gray;border-radius: 5px;padding-bottom: 5px">
                      <div class="row" style="margin: 0px;background-color: #125687;color: white;padding: 10px">
                        <span class="divisionName"> <%= division.name %></span>
                      </div>
                      <br/>


                      <% packages.each do |package| %>
                        <div class="row" style="margin: 0px;padding: 5px">
                          <div class="col-sm-2">
                            <a href="/"><img src="<%= url_for(package.image) %>" style="width: 100%;height: 80px"></a>
                          </div>
                          <div class="col-sm-3">

                            <a href="/" class="package_name"><%= package.name %></a>


                          </div>
                          <div class="col-sm-4">

                            <div class="row" style="margin: 0px">
                              <% plans = Plan.where("package_id =?", package.id) %>
                              <% plans.each do |plan| %>
                                <div class="col-sm-6 text-left">
                                  <div class="information_head" style="font-size:14px"> <%= plan.pakage_type %></div>
                                  <div style="font-size: 12px;font-weight: bold;font-family: Montserrat;color: #ff7550">Rs <%= plan.price %>
                                    / Person
                                  </div>

                                </div>
                              <% end %>
                            </div>


                          </div>
                          <div class="col-md-3 text-right">
                            <div class="tg-priceavailability" style="background:none;">
                              <a class="tg-btn" href="/cities/billing_detail?package_id=<%= package.id %>"><span>ADD TO CART</span></a>
                            </div>
                          </div>
                        </div>
                        <hr style="margin-bottom: 5px;margin-top: 5px">
                      <% end %>
                    </div>
                  <% end %>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>