<style>
  .wrapper {
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
  }

  .information_head {
    text-transform: capitalize;
    font-size: 18px;
    font-family: Montserrat;
    padding: 5px 10px;
    color: dimgray;
    font-weight: bolder;
  }

  .information_head1 {
    text-transform: capitalize;
    font-size: 14px;
    font-family: Montserrat;
    color: dimgray;
    font-weight: 600;
  }

  .des_text {
    font-size: 16px;
    padding: 5px 10px;
    color: #000000;
    font-family: "Microsoft Sans Serif";
  }

  .divisionName {
    background-color: #125687;
    color: white;
    font-size: 10px;
    font-weight: 600;
    padding: 3px;
    opacity: 1 !important;
  }

  .package_name {
    font-size: 16px;
    padding: 5px;
    font-family: 'roboto';;
    color: #333333;
    font-weight: bold;
    text-transform: capitalize;
  }

  .layer {
    background-color: black;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    color: #fff;
    border-radius: 7px 7px 0px 0px !important
  }

  .layer:hover {
    background-color: white;
    opacity: 0.2;
    border-radius: 7px 7px 0px 0px !important
  }

  .cart_but {
    background-color: #ff7550 !important;
    border: 1px solid #ff7550;
    cursor: pointer;
    color: white !important;
    padding: 7px 12px;
    font-weight: bold;
    font-family: Roboto;
    font-size: 12px
  }

  .cart_but:hover {
    /*border: 1px solid black;*/
    cursor: pointer;
    color: black !important;
  }
</style>

<style>

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }



  .topright:hover {color: red;}
</style>

<section class="tg-parallax tg-innerbanner" data-appear-top-offset="900" data-parallax="scroll" data-image-src="<%= url_for(@service.image) %>">
  <div class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br/>
          <h1><%= @service.name %></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<main id="tg-main" class="tg-main tg-sectionspace tg-haslayout tg-bglight">
  <div class="container">
    <div class="row" style="margin: 0px">
      <div class="information_head">Description :-</div>
      <div class="des_text"> <%= @service.description %></div>
    </div>
    <br/>


   <div class="list1">
      <div class="top1">
        <div class="top-right1">
          <% @cities.each_with_index do |city, index| %>
            <a class='tag1' style="text-transform: uppercase" onclick="openCity(event, '<%= city.id %>-<%= city.name %>')" id="defaultOpen"><%= city.name %></a>
          <% end %>
        </div>
      </div>
    </div>


    <% @cities.each do |city| %>


      <div id="<%= city.id %>-<%= city.name %>" class="tabcontent">

      <% @packages = Package.where("city_id =? and service_id =?", city.id, @service.id).order("division_id asc") %>
      <div class="row" style="margin: 0px">
        <% @packages.each_with_index do |package, index| %>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="tg-product">
              <figure>
                <a href="/cities/billing_detail?package_id=<%= package.id %>"><img src="<%= url_for(package.image) %>" alt="image destinations"></a>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="/cities/billing_detail?package_id=<%= package.id %>"><%= package.name %></a></h3>
                </div>

                <div class="row" style="paddin-bottom:20px;">
                  <%plans = Plan.where("package_id =?", package.id) %>
                  <%plans.each_with_index do |plan, index| %>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="tg-pricearea" style="float:left;padding-top:10px;">
                        <span style="float:left;"><%= plan.pakage_type %></span><br>
                        <h4 style="float:left; font-size:14px;">Rs.<%= plan.price %><sub>/ per person</sub></h4>
                      </div>
                      </br></br>
                    </div>
                  <% end %>
                </div>


              </div>
              <a class="tg-btnaddtocart" href="/cities/billing_detail?package_id=<%= package.id %>">
                <i class="icon-icons240"></i>
                <span>add to Cart</span>
              </a>
            </div>
          </div>
        <% end %>
      </div>

      </div>
    <% end %>
  </div>
</main>


<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>