<style>
  .wrapper {
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
  }

  .information_head {
    text-transform: capitalize;
    font-size: 18px;
    font-family: Montserrat;
    padding: 5px 10px;
    color: dimgray;
    font-weight: bolder;
  }

  .information_head1 {
    text-transform: capitalize;
    font-size: 14px;
    font-family: Montserrat;
    color: dimgray;
    font-weight: 600;
  }

  .des_text {
    font-size: 16px;
    padding: 5px 10px;
    color: #000000;
    font-family: 'Lato', sans-serif;
  }

  .divisionName {
    background-color: #125687;
    color: white;
    font-size: 10px;
    font-weight: 600;
    padding: 3px;
    opacity: 1 !important;
  }

  .package_name {
    font-size: 16px;
    padding: 5px;
    font-family: 'roboto';;
    color: #333333;
    font-weight: bold;
    text-transform: capitalize;
  }

  .layer {
    background-color: black;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    color: #fff;
    border-radius: 7px 7px 0px 0px !important
  }

  .layer:hover {
    background-color: white;
    opacity: 0.2;
    border-radius: 7px 7px 0px 0px !important
  }

  .cart_but {
    background-color: #ff7550 !important;
    border: 1px solid #ff7550;
    cursor: pointer;
    color: white !important;
    padding: 7px 12px;
    font-weight: bold;
    font-family: Roboto;
    font-size: 12px
  }

  .cart_but:hover {
    /*border: 1px solid black;*/
    cursor: pointer;
    color: black !important;
  }

</style>
<section class="tg-parallax tg-innerbanner" data-appear-top-offset="900" data-parallax="scroll" data-image-src="<%= url_for(@city.image) %>">
  <div class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br/>
          <h1><%= @city.name %></h1>
        </div>
      </div>
    </div>
  </div>
</section>





<main id="tg-main" class="tg-main tg-sectionspace tg-haslayout tg-bglight" style="background-color: ghostwhite!important;">

  <div class="container">
    <div class="row" style="margin: 0px">
      <div class="information_head">Description :-</div>
      <div class="des_text"> <%= @city.description %></div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-content" class="tg-content">
          <div class="tg-listing tg-listingvthree">
            <div class="row" style="margin: 0px">
              <% @packages.each_with_index do |package, index| %>
                <!--<div class="col-sm-4" style="padding: 7px 5px">
                  <div style="border: 1px solid lightgray;border-radius: 7px!important;background-color: white">
                    <div style="background: url('<%#= url_for(package.image) %>') no-repeat;width: 100%;height: 160px; background-size: cover;background-position: center;border-radius: 7px 7px 0px 0px!important">
                      <div class="layer">
                        <div style="position: relative;top:87.5%" class="text-center">
                          <div class="text-right divisionName"><%#= Division.find_by_id(package.division_id).try(:name) %></div>
                        </div>
                      </div>
                    </div>

                    <div style="padding: 5px 7px;background-color: white!important;">
                      <div class="text-center package_name"><%#= package.name %></div>
                      <hr style="margin: 3px"/>
                      <%# plans = Plan.where("package_id =?", package.id) %>

                      <%# plans.each_with_index do |plan, index| %>
                        <%# if index % 2 == 0 %>
                          <div class="row" style="margin: 0px;background-color: white;padding: 5px 0px">
                            <div class="col-xs-6 text-left"><span><i class="icon-user-check"></i> </span>&nbsp;&nbsp;&nbsp;<span class="information_head1"> <%#= plan.pakage_type %></span>
                            </div>
                            <div class="col-xs-6 text-left">
                              <div style="font-size: 14px;font-weight: bold;font-family: Montserrat;color: #ff7550">Rs. <%#= plan.price %>
                                / Person
                              </div>
                            </div>
                          </div>
                          <hr style="margin: 3px"/>
                        <%# else %>
                          <div class="row" style="margin: 0px;background-color: white;padding: 5px 0px">
                            <div class="col-xs-6 text-left">
                              <span><i class="icon-user"></i> </span> &nbsp;&nbsp;&nbsp;<span class="information_head1"> <%#= plan.pakage_type %></span>
                            </div>
                            <div class="col-xs-6 text-left">
                              <div style="font-size: 14px;font-weight: bold;font-family: Montserrat;color: #ff7550">Rs. <%#= plan.price %>
                                / Person
                              </div>
                            </div>
                          </div>
                        <%# end %>
                      <%# end %>
                    </div>

                    <div style="padding:  5px 0px" class="text-right">
                      <a href="/cities/billing_detail?package_id=<%#= package.id %>" class="cart_but">Add To cart</a>
                    </div>
                  </div>
                </div>-->







                <!--HTML START-->


                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                  <div class="tg-product">
                    <figure>
                      <a href="/cities/billing_detail?package_id=<%= package.id %>"><img src="<%= url_for(package.image) %>" alt="image destinations"></a>
                    </figure>
                    <div class="tg-productcontent">
                      <div class="tg-producttitle">
                        <h3><a href="/cities/billing_detail?package_id=<%= package.id %>"><%= package.name %></a></h3>
                      </div>

                      <div class="row" style="paddin-bottom:20px;">
                        <%plans = Plan.where("package_id =?", package.id) %>
                        <%plans.each_with_index do |plan, index| %>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="tg-pricearea" style="float:left;padding-top:10px;">
                              <span style="float:left;"><%= plan.pakage_type %></span><br>
                              <h4 style="float:left; font-size:14px;">Rs.<%= plan.price %><sub>/ per person</sub></h4>
                            </div>
                            </br></br>
                          </div>
                        <% end %>
                      </div>


                    </div>
                    <a class="tg-btnaddtocart" href="/cities/billing_detail?package_id=<%= package.id %>">
                      <i class="icon-icons240"></i>
                      <span>add to Cart</span>
                    </a>
                  </div>
                </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>




