<style>
  .wrapper {
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
  }

  .information_head {
    text-transform: capitalize;
    font-size: 18px;
    font-family: Montserrat;
    padding: 5px 10px;
    color: dimgray;
    font-weight: bolder;
  }

  .des_text {
    font-size: 16px;
    padding: 5px 10px;
    color: #000000;
    font-family: 'Lato', sans-serif;
  }

  .divisionName {
    font-size: 16px;
    color: white;
    padding: 10px 5px;
    text-transform: capitalize;
    font-family: 'Arial Black'
  }

  .package_name {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #000 !important;
    line-height: 1.1;
    text-transform: capitalize;
    font-family: Montserrat;
    text-decoration: none;

  }

</style>
<section class="tg-parallax tg-innerbanner" data-appear-top-offset="900" data-parallax="scroll" data-image-src="<%= url_for(@city.image) %>">
  <div class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br/>
          <h1><%= @city.name %></h1>

        </div>
      </div>
    </div>
  </div>
</section>





<main id="tg-main" class="tg-main tg-sectionspace tg-haslayout tg-bglight">

  <div class="container">
    <div class="row" style="margin: 0px">
      <div class="information_head">Description :-</div>
      <div class="des_text"> <%= @city.description %></div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-content" class="tg-content">
          <div class="tg-listing tg-listingvthree">
            <% @location_based_packages.each do |location_based_package| %>
              <% if location_based_package.present? %>
                <div style="border: 1px solid gray;border-radius: 5px">
                  <div class="row" style="margin: 0px;background-color: #125687;color: white;padding: 10px">
                    <span class="divisionName"> <%= location_based_package.division_name %></span>
                  </div>
                  <br/>


                  <% location_based_package.packages.each do |package| %>


                    <div class="row" style="margin: 0px;padding: 5px">
                      <div class="col-sm-2">
                        <a href="/"><img src="<%= url_for(package.image) %>" style="width: 100%;height: 80px"></a>
                      </div>
                      <div class="col-sm-3">

                        <a href="/" class="package_name"><%= package.name %></a>


                      </div>
                      <div class="col-sm-4">
                        <div class="row" style="margin: 0px">
                          <% plans = Plan.where("package_id =?", package.id) %>
                          <% plans.each do |plan| %>
                            <div class="col-sm-6 text-left">
                              <div class="information_head" style="font-size:14px"> <%= plan.pakage_type %></div>
                              <div style="font-size: 12px;font-weight: bold;font-family: Montserrat;color: #ff7550">Rs <%= plan.price %>
                                / Person
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <div class="col-md-3 text-right">
                        <div class="tg-priceavailability" style="background:none;">
                          <a class="tg-btn" href="/cities/billing_detail?package_id=<%= package.id %>"><span>ADD TO CART</span></a>
                        </div>
                      </div>
                    </div>
                    <hr style="margin-bottom: 5px;margin-top: 5px">
                  <% end %>
                </div>
              <% end %>
              <br/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>




