<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :package_id, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:package_id, options_for_select(Package.all.collect {|u| [u.name, u.id]}, @plan.package_id), {:prompt => 'Select Package'}, :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= form.label :pakage_type, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :pakage_type, :class => 'form-control', :placeholder => 'Plan TYpe', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :name, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :name, :class => 'form-control', :placeholder => 'Plan Name', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :description, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_area :description, :class => 'form-control', :placeholder => 'Description', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :price, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :price, :class => 'form-control', :placeholder => 'Price', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :is_active, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :is_active %>
      </div>
      <div class="actions">
        <%= form.submit(:class => 'btn btn-primary', :style => 'background-color:#0575AF') %>
      </div>
    </div>
  </div>
<% end %>
