<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6"><%= get_index_text('Plans') %></div>
  <div class="col-sm-6 text-right">
    <!--  <%#= link_to 'New Plan', new_plan_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %>-->

  </div>
</div>
<div class="table-responsive">
  <table id="zero_config" class="table table-striped table-bordered">
    <thead>
    <tr class="tr_style">
      <th>Package</th>
      <th>Pakage type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Is active</th>
      <!--<th colspan="2"></th>-->
    </tr>
    </thead>

    <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= Package.find_by_id(plan.package_id).try(:name) %></td>
        <td><%= plan.pakage_type %></td>
        <td><%= plan.name %></td>
        <td><%= plan.description %></td>
        <td><%= plan.price %></td>
        <td><%= plan.is_active %></td>
        <!--<td><%#= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%#= link_to 'Destroy', plan, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

