<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" sizes="16x16" href="http://aptdc-website.s3-website-us-east-1.amazonaws.com/images/logo1.png">
  <title>Andhra Pradesh Tourism Development Corporation</title>
  <link href="/public1/assets/libs/flot/css/float-chart.css" rel="stylesheet">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="/public1/dist/css/style.min.css" rel="stylesheet">
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    preloader
    <div class="lds-pos"></div>
  </div>
</div>
<div id="main-wrapper">
  <header class="topbar" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
      <div class="navbar-header" data-logobg="skin5">
        <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
        <a class="navbar-brand" href="/">
          <b class="logo-icon p-l-10">
            <img src="http://aptdc-website.s3-website-us-east-1.amazonaws.com/images/logo1.png" alt="homepage" height="30px" width="250px" class="light-logo"/>
          </b>
          <span class="logo-text">
                  <img src="http://aptdc-website.s3-website-us-east-1.amazonaws.com/images/logo1.png" height="30px" width="250px" alt="homepage" class="light-logo"/>
                  </span>
        </a>
        <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
      </div>
      <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
        <ul class="navbar-nav float-left mr-auto">
          <li class="nav-item d-none d-md-block">
            <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav float-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.present? && current_user.email %> &nbsp;
              &nbsp;<img src="/public1/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>

            <div class="dropdown-menu dropdown-menu-right user-dd animated">
              <a class="dropdown-item" href="/logout"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Sidebar   STart-->
  <aside class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
      <nav class="sidebar-nav">
        <ul id="sidebarnav" class="p-t-30">
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/users" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Users</span></a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cities" aria-expanded="false"><i class="mdi mdi-city"></i><span class="hide-menu">Divisions</span></a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/divisions" aria-expanded="false"><i class="mdi mdi-relative-scale"></i><span class="hide-menu">Locations</span></a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/services" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Services</span></a>
          </li>


          <li class="sidebar-item">
            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Packages & plans </span></a>
            <ul aria-expanded="false" class="collapse  first-level">
              <li class="sidebar-item">
                <a href="/packages" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Packages</span></a>
              </li>
              <li class="sidebar-item">
                <a href="/plans" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Plans</span></a>
              </li>
            </ul>
          </li>



          <li class="sidebar-item">
            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Bookings</span></a>
            <ul aria-expanded="false" class="collapse  first-level">
              <li class="sidebar-item">
                <a href="/orders" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Bookings</span></a>
              </li>

            </ul>
          </li>


        </ul>
      </nav>
    </div>
  </aside>
  <!-- End Sidebar -->
  <div class="page-wrapper">

    <!--MAIN CONTENT START-->
    <div class="container-fluid">
      <%= yield %>
    </div>
    <!--MAIN CONTENT END-->
    <!--FOOTER START-->
    <footer class="footer text-right" style="background-color: #676767;color: ghostwhite;">Copyright © 2018 APTDC. All
      rights reserved
    </footer>
    <!--FOOTER end -->
  </div>
</div>
<script src="/public1/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/public1/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/public1/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public1/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/public1/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="/public1/dist/js/waves.js"></script>
<script src="/public1/dist/js/sidebarmenu.js"></script>
<script src="/public1/dist/js/custom.min.js"></script>
<script src="/public1/assets/libs/flot/excanvas.js"></script>
<script src="/public1/assets/libs/flot/jquery.flot.js"></script>
<script src="/public1/assets/libs/flot/jquery.flot.pie.js"></script>
<script src="/public1/assets/libs/flot/jquery.flot.time.js"></script>
<script src="/public1/assets/libs/flot/jquery.flot.stack.js"></script>
<script src="/public1/assets/libs/flot/jquery.flot.crosshair.js"></script>
<script src="/public1/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="/public1/dist/js/pages/chart/chart-page-init.js"></script>
</body>
</html>