<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Andhra Pradesh Tourism Development Corporation</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="/public2/apple-touch-icon.png">
  <link rel="stylesheet" href="/public2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public2/css/normalize.css">
  <link rel="stylesheet" href="/public2/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public2/css/icomoon.css">
  <link rel="stylesheet" href="/public2/css/owl.carousel.css">
  <link rel="stylesheet" href="/public2/css/bootstrap-select.css">
  <link rel="stylesheet" href="/public2/css/scrollbar.css">
  <link rel="stylesheet" href="/public2/css/jquery.mmenu.all.css">
  <link rel="stylesheet" href="/public2/css/prettyPhoto.css">
  <link rel="stylesheet" href="/public2/css/transitions.css">
  <link rel="stylesheet" href="/public2/css/main.css">
  <link rel="stylesheet" href="/public2/css/color.css">
  <link rel="stylesheet" href="/public2/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="/public2/style.css"/>
  <link rel="stylesheet" type="text/css" href="/public2/style2.css"/>
  <link rel="Stylesheet" type="text/css" href="/public2/css/smooth-scroll.css"/>
  <link rel="Stylesheet" type="text/css" href="/public2/css/colorbox.css"/>
  <script src="/public2/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script defer type="text/javascript" src="/public2/js/tag-filter.js"></script>
  <script defer type="text/javascript" src="/public2/js/list-els-acc.js"></script>
  <script defer type="text/javascript" src="/public2/js/tag-filter1.js"></script>
  <script defer type="text/javascript" src="/public2/js/list-els-acc1.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>

    a {
      text-decoration: none !important;
    }

    .img-container {
      position: relative;
      font-family: Arial;
    }

    .text-block {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: #00000087;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }

    #makeMeScrollable {
      width: 100%;
      height: 450px;
      position: relative;
      margin-top: 123px;
    }

    #makeMeScrollable div.scrollableArea img {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      height: 100%;
    }

    #makeMeScrollable div.scrollableArea a {
      border: none;
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  </style>
  <script class="cssdeck" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>
      $(function () {
          $('#searchx').keyup(function () {
              var val = $(this).val().toLowerCase();

              $(".list-body .explore").hide();

              $(".list-body .explore").each(function () {

                  var text = $(this).text().toLowerCase();
                  if (text.indexOf(val) != -1) {
                      $(this).show();
                  }
              });
          });
      });

      $(function () {
          $('#searchy').keyup(function () {
              var val = $(this).val().toLowerCase();

              $(".list-body1 .explore").hide();

              $(".list-body1 .explore").each(function () {

                  var text = $(this).text().toLowerCase();
                  if (text.indexOf(val) != -1) {
                      $(this).show();
                  }
              });
          });
      });
  </script>
</head>
<body class="tg-home tg-homevone">
<div class="loader">
  <div class="span">
    <div class="location_indicator"></div>
  </div>
</div>
<nav id="menu">
  <ul>
    <li><a href="#">Home</a>

    </li>
    <li><a href="#">Destinations</a></li>
    <li><a href="javascript:void(0);">Listings</a></li>
    <li><a href="javascript:void(0);">Blog</a>
    </li>
  </ul>
</nav>
<!--************************************
    Mobile Menu End
*************************************-->
<!--************************************
    Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
  <!--************************************
      Header Start
  *************************************-->
  <header id="tg-header" class="tg-header tg-haslayout">
    <div class="container-fluid">
      <div class="row">
        <div class="tg-topbar">
          <nav class="tg-infonav">
            <ul>
              <li>
                <i><img src="/public2/images/icons/icon-01.png" alt="image destinations"></i>
                <span>1800-425-45454</span>
              </li>
              <li>
                <i><img src="/public2/images/icons/icon-02.png" alt="image destinations"></i>
                <span>CHOOSE YOUR EXPERIENCE <a href="javascript:void(0);">Discover more</a></span>
              </li>
            </ul>
          </nav>
          <div class="tg-addnavcartsearch">
            <nav class="tg-cartsearch">
              <ul>
                <li>
                  <a href="javascript:void(0);"><img src="/public2/images/icons/icon-03.png" alt="image destinations"></a>
                  <div class="tg-cartitems">
                    <div class="tg-cartlistitems">
                      <h3>Shopping Cart</h3>
                      <div class="tg-cartitem">
                        <figure class="tg-itemimg">
                          <img src="/public2/images/products/img-11.jpg" alt="image description"></figure>
                        <div class="tg-contentbox">
                          <div class="tg-producthead">
                            <em>x 2</em>
                            <h4><a href="javascript:void(0);">Papikondalu – 2 Days<span></span></a></h4>
                          </div>
                          <span>Rs.2500</span>
                        </div>
                      </div>
                      <div class="tg-cartitem">
                        <figure class="tg-itemimg">
                          <img src="/public2/images/products/img-11.jpg" alt="image description"></figure>
                        <div class="tg-contentbox">
                          <div class="tg-producthead">
                            <em>x 2</em>
                            <h4><a href="javascript:void(0);">Aaraku – 2 Days<span>1</span></a></h4>
                          </div>
                          <span>Rs.2500</span>
                        </div>
                      </div>
                      <div class="tg-subtotal">
                        <h2>Subtotal</h2>
                        <span>Rs. 5000</span>
                      </div>
                    </div>
                    <div class="tg-btnarea">
                      <a class="tg-btn" href="#"><span>view cart</span></a>
                    </div>
                  </div>
                </li>
                <li><a href="#tg-search"><img src="/public2/images/icons/icon-04.png" alt="image destinations"></a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="tg-navigationarea tg-headerfixed">
          <strong class="tg-logo"><a href="/"><img src="/public2/images/logo1.png" width="400" height="75"></a></strong>
          <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
            <ul>
              <li class="menu-item-has-children <%= session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].present? && session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].eql?("homePage") ? 'current-menu-item' : '' %>">
                <a href="/">HOME</a></li>
              <li class="menu-item-has-children <%= session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].present? && session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].eql?("destinations") ? 'current-menu-item' : '' %>">
                <a href="/cities/destinations">DESTINATIONS</a></li>
              <li class="menu-item-has-children <%= session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].present? && session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].eql?("aboutUs") ? 'current-menu-item' : '' %>">
                <a href="/cities/aboutUs">ABOUT US</a></li>
              <li class="menu-item-has-children  <%= session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].present? && session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].eql?("contactUs") ? 'current-menu-item' : '' %>">
                <a href="/cities/contactUs">CONTACT</a></li>
            </ul>
          </div>
          </nav>
        </div>

      </div>
    </div>
  </header>


  <%= yield %>




  <footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-fourcolumns">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="tg-footercolumn tg-widget tg-widgettext">
              <div class="tg-widgettitle">
                <h3>About APTDC</h3>
              </div>
              <div class="tg-widgetcontent">
                <div class="tg-description">
                  <p>Nunc cursus liero purs ac cogue arcu cursus ut sed vitae pulvinar massaidp nequetiam lore
                    elerisque</p>
                </div>
                <span>1800-425-45454</span>
                <a href="mailto:helpdesk@aptdc.in">helpdesk@aptdc.in</a>
                <ul class="tg-socialicons tg-socialiconsvtwo">
                  <li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>
                  <li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
                  <li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="tg-footercolumn tg-widget tg-widgetdestinations">
              <div class="tg-widgettitle">
                <h3>Top Destinations</h3>
              </div>
              <div class="tg-widgetcontent">
                <ul>
                  <% cities = City.all.limit(5) %>
                  <% cities.each do |city| %>
                    <li>
                      <a href="/cities/service_based_city_pakages1?city_id=<%= city.id %>;" onclick="remove_services()" style="text-transform: capitalize"><%= city.name %></a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="tg-footercolumn tg-widget tg-widgetdestinations">
              <div class="tg-widgettitle">
                <h3>Top Services</h3>
              </div>
              <div class="tg-widgetcontent">
                <ul>
                  <% service = Service.all %>
                  <% service.each do |service| %>
                    <li>
                      <a href="/cities/service_based_packages1?service_id=<%= service.id %>" style="text-transform: capitalize"><%= service.name %></a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="tg-footercolumn tg-widget tg-widgetnewsletter">
              <div class="tg-widgettitle">
                <h3>Newsletter</h3>
              </div>
              <div class="tg-widgetcontent">
                <div class="tg-description"><p>Sign up for our mailing list to get latest updates and offers</p></div>
                <form class="tg-formtheme tg-formnewsletter">
                  <fieldset>
                    <input type="email" name="email" class="form-control" placeholder="Your Email">
                    <button type="submit"><img src="/public2/images/icons/icon-08.png" alt="image destinations">
                    </button>
                  </fieldset>
                </form>
                <span>We respect your privacy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tg-footerbar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Copyright &copy; 2018 APTDC. All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--************************************
      Footer End
  *************************************-->
</div>
<!--************************************
    Wrapper End
*************************************-->
<!--************************************
    Search Start
*************************************-->

<div id="tg-loginsingup" class="tg-loginsingup" data-vide-bg="poster: images/singup-img.jpg" data-vide-options="position: 0% 50%">
  <div class="tg-contentarea tg-themescrollbar">
    <div class="tg-scrollbar">
      <button type="button" class="close">x</button>
      <div class="tg-logincontent">
        <nav id="tg-loginnav" class="tg-loginnav">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Wishlist</a></li>
          </ul>
        </nav>
        <div class="tg-themetabs">
          <ul class="tg-navtbs" role="tablist">
            <li role="presentation" class="active"><a href="#home" data-toggle="tab">Already Registered</a></li>
            <li role="presentation"><a href="#profile" data-toggle="tab">New to APTDC ?</a></li>
          </ul>
          <div class="tg-tabcontent tab-content">
            <div role="tabpanel" class="tab-pane active fade in" id="home">
              <form class="tg-formtheme tg-formlogin">
                <fieldset>
                  <div class="form-group">
                    <label>Name or Email <sup>*</sup></label>
                    <input type="text" name="firstname" class="form-control" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Password <sup>*</sup></label>
                    <input type="password" name="password" class="form-control" placeholder="">
                  </div>
                  <div class="form-group">
                    <div class="tg-checkbox">
                      <input type="checkbox" name="remember" id="rememberpass">
                      <label for="rememberpass">Remember Me</label>
                    </div>
                    <span><a href="#">Lost your password?</a></span>
                  </div>
                  <button class="tg-btn tg-btn-lg"><span>update profile</span></button>
                </fieldset>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">
              <form class="tg-formtheme tg-formlogin">
                <fieldset>
                  <div class="form-group">
                    <label>Name or Email <sup>*</sup></label>
                    <input type="text" name="firstname" class="form-control" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Password <sup>*</sup></label>
                    <input type="password" name="password" class="form-control" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Confirm Password <sup>*</sup></label>
                    <input type="password" name="password" class="form-control" placeholder="">
                  </div>
                  <div class="form-group">
                    <div class="tg-checkbox">
                      <input type="checkbox" name="remember" id="remember">
                      <label for="remember">Remember Me</label>
                    </div>
                    <span><a href="#">Lost your password?</a></span>
                  </div>
                  <button class="tg-btn tg-btn-lg"><span>update profile</span></button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="tg-shareor"><span>or</span></div>
        <div class="tg-signupwith">
          <h2>Sign in With...</h2>
          <ul class="tg-sharesocialicon">
            <li class="tg-facebook"><a href="#"><i class="icon-facebook-1"></i><span>Facebook</span></a></li>
            <li class="tg-twitter"><a href="#"><i class="icon-twitter-1"></i><span>Twitter</span></a></li>
            <li class="tg-googleplus"><a href="#"><i class="icon-google4"></i><span>Google+</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/public2/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="/public2/js/jquery.mousewheel.min.js" type="text/javascript"></script>
<script src="/public2/js/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>
<script src="/public2/js/jquery.colorbox-min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Init Smooth Div Scroll
        $("#makeMeScrollable").smoothDivScroll({
            mousewheelScrolling: "allDirections",
            manualContinuousScrolling: true,
            autoScrollingMode: "onStart"
        });
        // Init colorbox
        $("#makeMeScrollable a").colorbox({speed: "500"});
    });
</script>
<script src="/public2/js/vendor/bootstrap.min.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
<script src="/public2/js/bootstrap-select.min.js"></script>
<script src="/public2/js/jquery-scrolltofixed.js"></script>
<script src="/public2/js/owl.carousel.min.js"></script>
<script src="/public2/js/jquery.mmenu.all.js"></script>
<script src="/public2/js/packery.pkgd.min.js"></script>
<script src="/public2/js/jquery.vide.min.js"></script>
<script src="/public2/js/scrollbar.min.js"></script>
<script src="/public2/js/prettyPhoto.js"></script>
<script src="/public2/js/countdown.js"></script>
<script src="/public2/js/parallax.js"></script>
<script src="/public2/js/gmap3.js"></script>
<script src="/public2/js/main.js"></script>
<script>
    function remove_services() {
        <%= session.delete(:session_services)  %>
    }
</script>
</body>
</html>